{% extends 'base.html.twig' %}

{% block title %}LOG IN - Sortie.com{% endblock %}

{% block body %}

    <section class="mt-32 pb-32 text-center">

        <h1 class="tw_h1 mb-4">Login</h1>


        <form class="tw_form pt-4" action="" method="post">
            
            {# EMAIL #}
            <div class="tw_formItem mb-4" >

                <label for="username" class="text-xl">Email</label>

                <input class="tw_input" type="email" name="_username" id="username" value="{{ last_username }}" autocomplete="email" required autofocus>

            </div>

            {# PASSWORD #}
            <div class="tw_formItem mb-4">

                <label for="password" class="text-xl">Password</label>

                <input class="tw_input" type="password" name="_password" id="password" autocomplete="current-password" required>

            </div>

            {# REMEMBER ME #}

            <div class="flex flex-row items-center">
                <input class="h-5 w-5" type="checkbox" name="_remember_me" id="remember_me">
                <label class="ml-2 text-xl text-gray-900" for="remember_me">Se souvenir de moi</label>
            </div>


            {# CSRF TOKEN #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# SUBMIT #}
            <button type="submit" class="tw_btn w-11/12">
                Submit
            </button>

        </form>
        
    </section>

{% endblock %}