{% extends 'base.html.twig' %}

{% block title %}WELCOME - Sortie.com{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block body %}
    <div class="index-background">
        <p>Main</p>
    </div>
{% endblock %}